<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CPMN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- ================================== -->
  <!--            初始化Web数据                               -->
  <!-- ================================== -->
  <!-- 
  <servlet>
  	<servlet-name>InitDataServlet</servlet-name>
  	<servlet-class>com.web.dev.InitDataServlet</servlet-class>
  	<init-param>
  		<param-name>AppHome</param-name>
  		<param-value>/WEB-INF</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <resource-ref id="ResourceRef_1">
  	<res-ref-name>jdbc/mydb</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Application</res-auth>
  	<res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  -->
</web-app>